.header-container {
  background-color: $primary-color-blue;
  height: 56px;
  width: 100%;
  transition: left 0.5s;
  position: fixed;
  left: 220px;
  top: 0;
  right: 0;
  &.sb-closed {
    left: 0px;
  }

  .sidebar-toggler {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    padding-left: 6px;
    color: white;

    span {
      cursor: pointer;
      font-size: larger;
    }
    h3 {
      font-weight: 400;
      //   font-size: medium;
    }
  }
}
