aside {
  max-width: 240px;

  nav {
    background-color: $primary-color;
    height: 100vh;
    overflow-y: scroll;
    border-right: 1px solid $font-color-light;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      // max-width: 240px;
    }
    a {
      text-decoration: none;
      color: $font-color-dark;

      span {
        display: inline-block;
      }

      li {
        display: inline-block;
        padding: 12px;
        display: inline-flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 6px;
        &:hover {
          background-color: $background-color-light;
          cursor: pointer;
        }
      }
    }
  }
}
