$primary-color: #ffffff;
$secondary-color: #2ecc71;
$font-color-light: #8695a3;
$font-color-dark: #342c2a;
$background-color-light: #c1c1c1;
$primary-color-blue: #2196f3;
$layout-breakpoint-small: 960px;
$background-color-light-2: #f1f1f1;
$card-min-height: 124px;
$card-min-width: 440px;
$card-border-radius: 8px;
$color-primary-green: #4caf51;
$color-primary-red: #f44236;
